$teal-primary: #4898a0 !default;
$teal-90: #0d4e54;
$teal-80: #1b676e;
$teal-70: #2f8087;
$teal-60: #4898a0;
$teal-40: #8acdd4;
$teal-30: #b9ebe4;
$teal-20: #edfaf8;
$teal-10: #f7f9fa;
$neon-teal: #03CAAA;

$grey-80: #58606e;
$grey-50: #afbacc;
$grey-30: #dde3ed;
$grey-10: #f5f7fa;

$green-10: #c9e9d1;

$red-70: #dd3446;
$red-50: #e56975;
$red-10: #f6ced2;
$red-5: #fdebec;

$primary-danger: #dd3446;
$primary-warning: #ffc106;
$primary-success: #5ebd74;

$font-size-base: 15px;
$font-color-base: #58606e;

$white-color: #fff;

@font-face {
  font-family: 'prompt-medium';
  src: local('FiraSans'), url('./fonts/Prompt-Medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'prompt-light';
  src: local('FiraSans'), url('./fonts/Prompt-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'prompt-semibold';
  src: local('FiraSans'), url('./fonts/Prompt-SemiBold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'prompt-regular';
  src: local('FiraSans'), url('./fonts/Prompt-Regular.ttf') format('truetype');
  font-style: normal;
}
