@import '_variable.scss';
@import './side_menu.scss';

body {
  font-family: 'prompt-light';
  font-size: $font-size-base;
  color: $font-color-base;
  letter-spacing: 0.35px;
}

.d-flex {
  display: flex;
}

.side-menu {
  width: 240px;
  height: 100vh;
  background-color: $teal-primary;
  background: linear-gradient(345deg, rgba(3,202,170,1) 41%, rgba(72,152,160,1) 100%);
  transition: width 1s;
  z-index: 1;

  &.collapsed {
    width: 60px;
  }
}

.text-primary {
  color: $teal-primary !important;
}

.container-content {
  width: calc(100% - 240px);
  height: 100vh;
}

.content-body {
  overflow: auto;
  height: calc(100% - 86px);
}

.navbar {
  box-shadow: 0 4px 10px 0 #ebeff5;
}



.dropdown {
  &.icon {
    width: 32px;
    height: 32px;
    background: #f7f9fa;
    border-radius: 50%;
    text-align: center;
    padding: 4px 0;
    cursor: pointer;
    font-size: 18px;
    color: $teal-40;
    cursor: pointer;
  }

  .title {
    font-family: 'prompt-semibold';
    color: $grey-50;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .dropdown-item {
    padding: 8px 16px;

    &:hover {
      background: $grey-10;
    }

    &.active {
      background: none;
      font-family: 'prompt-medium';
      color: $teal-primary;
    }
  }
}

h1 {
  font-family: 'prompt-semibold';
  font-size: 32px;
}

.text-medium {
  font-family: 'prompt-medium';
}

.text-prompt-light {
  font-family: 'prompt-light';
}

.text-semi-bold {
  font-family: 'prompt-semibold';
}

.text-teal-20 {
  color: $teal-20;
}

.text-teal-30 {
  color: $teal-30;
}

.text-grey-50 {
  color: $grey-50;
}

.text-size-xxs {
  font-size: 10px;
}

.text-size-xs {
  font-size: 12px;
}

.text-size-sm {
  font-size: 14px;
}

.mini-title-grey {
  font-family: 'prompt-semibold';
  color: $grey-50;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin button-custom($bg_color, $font_color, $border_color) {
  background: $bg_color;
  color: $font_color;
  border-color: $border_color;
}

.btn {
  font-size: 14px;
  padding: 10px 20px;
  font-family: 'prompt-medium';

  &.btn-danger {
    @include button-custom($primary-danger, $white-color, $primary-danger);
  }

  &.btn-warning {
    @include button-custom($primary-warning, $white-color, $primary-warning);
  }

  &.btn-success {
    @include button-custom($primary-success, $white-color, $primary-success);
  }

  &.btn-primary {
    box-shadow: 0 5px 10px 0 rgba(138, 205, 212, 0.7);
    @include button-custom($neon-teal, $white-color, $neon-teal);

    &:hover {
      @include button-custom($teal-primary, $white-color, $teal-primary);
    }

    &.disabled {
      @include button-custom($grey-30, $grey-50, $grey-30);
      box-shadow: none;
    }
  }

  &.btn-secondary {
    @include button-custom($white-color, $teal-primary, $teal-40);

    &:hover {
      @include button-custom($teal-30, $teal-60, $teal-30);
    }

    &.disabled {
      @include button-custom($white-color, $grey-50, $grey-30);
    }
  }

  &.btn-outline {
    @include button-custom($white-color, $teal-primary, $grey-30);

    &:hover {
      @include button-custom($teal-30, $teal-primary, $teal-40);
    }

    &.disabled {
      @include button-custom($white-color, $grey-50, $grey-30);
    }
  }

  &.btn-sm {
    padding: 5px 10px;
    font-family: 'prompt-regular';
  }
}

.btn-group {
  .btn {
    border: 1px solid $grey-30;
    color: $teal-primary;
    font-family: 'prompt-regular';

    &.active,
    &.active:hover {
      background-color: $teal-primary;
      color: #fff;
      border-color: $teal-primary;
      font-family: 'prompt-medium';
    }

    &:hover {
      font-family: 'prompt-medium';
      background-color: $teal-20;
      border-color: $teal-40;
    }
  }
}

.alert {
  color: $white-color;
  font-family: 'prompt-medium';
  padding: 16px 24px;

  &.alert-success {
    @include button-custom($primary-success, $white-color, $primary-success);
    box-shadow: 0 4px 10px 0 $green-10;
  }

  &.alert-danger {
    @include button-custom($red-50, $white-color, $red-50);
    box-shadow: 0 4px 10px 0 $red-10;
  }
}

.modal-dialog {
  .modal-content {
    border: none;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.3);
  }

  .modal-footer {
    background: $teal-10;
    border: none;
  }

  .modal-header {
    border: none;

    .modal-title {
      color: $grey-80;
      font-family: 'prompt-medium';
      font-size: 22px;
    }
  }

  &.danger {
    .modal-content {
      border-top: 4px solid $red-70;
    }

    .modal-title {
      color: $red-70;
    }
  }
}

.checkbox-label {
  position: relative;
  width: 24px;
  height: 24px;

  .checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dde3ed;
    cursor: pointer;

    &:hover {
      background-color: #edfaf8;
    }
  }

  input:checked {
    +.checkbox-custom {
      &::after {
        position: absolute;
        content: "\f00c";
        font-family: "FontAwesome";
        left: 4px;
        font-size: 15px;
        color: $teal-60;
      }
    }
  }
}

.radio-label {
  position: relative;
  width: 24px;
  height: 24px;

  .radio-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #dde3ed;
    cursor: pointer;

    &:hover {
      background-color: #edfaf8;
    }
  }

  input:checked {
    +.radio-custom {
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $teal-60;
        position: absolute;
        left: 6px;
        top: 6px;
      }
    }
  }
}

.form-control {
  border-color: $grey-30;

  &:hover {
    border-color: $grey-50;
  }

  &:focus {
    border-color: $teal-40;
    box-shadow: none;
  }

  &::placeholder {
    color: $grey-50;
  }

  &.error {
    border-color: $red-70;
    background-color: $red-5;

    &::before {
      content: "\f06a";
      font-family: "FontAwesome";
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
