@import './variable';

.side-menu {
  height: 100vh;
  overflow-y: auto;

  li {
    list-style: none;
    font-family: 'prompt-medium';
  }

  .header-mini {
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'prompt-semibold';
    padding-left: 16px;
    color: $teal-80;
  }

  .list-menu {
    .menu {
      margin-right: 16px;

      a {
        border-radius: 0 16px 16px 0;
        border-left: 4px solid transparent;
        padding: 0 24px;
        color: #fff;
        display: block;

        &:hover {
          text-decoration: none;
          background: rgba(138, 205, 212, 0.25);
        }

        &.active {
          background: $teal-70;
          border-left-color: $teal-90;
        }
      }
    }
  }

  .time-box {
    background: rgba(138, 205, 212, 0.25);
    border-radius: 4px;
  }

  &.collapsed {
    .header-mini, .time-box {
      display: none;
    }

    .list-menu {
      .menu {
        margin: 0;

        a {
          border-radius: 0;
          border: none;
          padding: 0 4px;
          text-align: center;
        }
      }
    }
  }
}


